{% extends "includes/base.html" %}

{% block title %}
    | Home
{% endblock title %}
{% block header %}
    <div class="container text-center">
        <div class="row row-cols-1">
            <div class="col light-font title-font">Welcome Back, {{ request.user.username }}!</div>
        </div>
    </div>
{% endblock header %}
{% block content %}
    {#    <div id="tester" class="d-flex justify-content-center col"></div>#}
    {#    <script>#}
    {#        const config = {#}
    {#            displayModeBar: false, // this is the line that hides the bar.#}
    {#        };#}
    {#        var data = [#}
    {#            {#}
    {#x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],#}
    {#y: ["week 1", "week 2", "week 3", "week 4"],#}
    {#                z: {{ data }},#}
    {#                type: 'heatmap',#}
    {#                //"colorscale": [[0, "#e6f0f0"], [0.16666666666666666, "#b4d8e4"], [0.3333333333333333, "#8bbde3"], [0.5, "#739ee4"], [0.6666666666666666, "#757cdb"], [0.8333333333333334, "#7859bf"], [1, "#733997"]],#}
    {#                colorscale: [[0.0, "#dd4a4a"],#}
    {#                    [0.01587301, "#df514f"],#}
    {#                    [0.03174603, "#e15854"],#}
    {#                    [0.04761904, "#e35e5a"],#}
    {#                    [0.06349206, "#e5645f"],#}
    {#                    [0.07936507, "#e76a64"],#}
    {#                    [0.09523809, "#e9706a"],#}
    {#                    [0.11111111, "#eb766f"],#}
    {#                    [0.12698412, "#ed7c74"],#}
    {#                    [0.14285714, "#ef827a"],#}
    {#                    [0.15873015, "#f0887f"],#}
    {#                    [0.17460317, "#f28d85"],#}
    {#                    [0.19047619, "#f3938b"],#}
    {#                    [0.2063492, "#f59990"],#}
    {#                    [0.22222222, "#f69e96"],#}
    {#                    [0.23809523, "#f7a49c"],#}
    {#                    [0.25396825, "#f8a9a1"],#}
    {#                    [0.26984126, "#f9afa7"],#}
    {#                    [0.28571428, "#fab4ad"],#}
    {#                    [0.3015873, "#fbbab3"],#}
    {#                    [0.31746031, "#fcbfb9"],#}
    {#                    [0.33333333, "#fdc5bf"],#}
    {#                    [0.34920634, "#fecac5"],#}
    {#                    [0.36507936, "#fed0cb"],#}
    {#                    [0.38095238, "#ffd5d1"],#}
    {#                    [0.39682539, "#ffdbd7"],#}
    {#                    [0.41269841, "#ffe1dd"],#}
    {#                    [0.42857142, "#ffe6e3"],#}
    {#                    [0.44444444, "#ffece9"],#}
    {#                    [0.46031746, "#fff1ef"],#}
    {#                    [0.47619047, "#fff7f6"],#}
    {#                    [0.49206349, "#fffcfc"],#}
    {#                    [0.5079365, "#fcfefd"],#}
    {#                    [0.52380952, "#f6fcfa"],#}
    {#                    [0.53968253, "#f0faf7"],#}
    {#                    [0.55555555, "#eaf7f4"],#}
    {#                    [0.57142857, "#e5f5f1"],#}
    {#                    [0.58730158, "#dff3ee"],#}
    {#                    [0.6031746, "#d9f1ea"],#}
    {#                    [0.61904761, "#d3efe7"],#}
    {#                    [0.63492063, "#cdece4"],#}
    {#                    [0.65079365, "#c7eae1"],#}
    {#                    [0.66666666, "#c1e8de"],#}
    {#                    [0.68253968, "#bbe6db"],#}
    {#                    [0.69841269, "#b5e4d8"],#}
    {#                    [0.71428571, "#aee1d5"],#}
    {#                    [0.73015873, "#a8dfd2"],#}
    {#                    [0.74603174, "#a2ddcf"],#}
    {#                    [0.76190476, "#9cdbcc"],#}
    {#                    [0.77777777, "#95d8c9"],#}
    {#                    [0.79365079, "#8fd6c6"],#}
    {#                    [0.8095238, "#88d4c3"],#}
    {#                    [0.82539682, "#81d2c0"],#}
    {#                    [0.84126984, "#7bcfbd"],#}
    {#                    [0.85714285, "#73cdba"],#}
    {#                    [0.87301587, "#6ccbb7"],#}
    {#                    [0.88888888, "#65c8b4"],#}
    {#                    [0.9047619, "#5dc6b1"],#}
    {#                    [0.92063492, "#54c4ae"],#}
    {#                    [0.93650793, "#4bc1ab"],#}
    {#                    [0.95238095, "#41bfa8"],#}
    {#                    [0.96825396, "#36bda5"],#}
    {#                    [0.98412698, "#28baa2"],#}
    {#                    [1.0, "#14b89f"]],#}
    {#                zsmooth: 'false',#}
    {#                hoverongaps: false,#}
    {#            }#}
    {#        ];#}
    {##}
    {#        var layout = {#}
    {#            paper_bgcolor: 'rgba(0,0,0,0)',#}
    {#            plot_bgcolor: 'rgba(0,0,0,0)'#}
    {#        }#}
    {#        Plotly.newPlot('tester', data, layout, config);#}
    {##}
    {#    </script>#}
{% endblock content %}
