{% extends "includes/base.html" %}
{% block title %}| Login{% endblock title %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center centered">
        <div class="login">
            <div class="col login-border">
                <h1 class="h4 d-flex justify-content-center align-items-center mt-2 light-font">Login</h1>
            </div>
            <div class="mt-4 px-4">
                {% if login_error %}
                    <div class="error-box m-2">
                        <div class="error-text m-2">Hmmm ... We've searched far and wide but could not find a user
                            with that username and password ... Although we love scavenger hunts, maybe try a different
                            combination.
                        </div>
                    </div>
                {% endif %}
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% crispy create_account %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}