:root {
    --main-hover-color: #DD3635;
    --sidebar-color: rgba(14, 94, 112, 0.42);
    --seconday-color: #11507E;
    --purple: #233d7f;
    --orange: #f69f1c;
    --red: #dd4a4a;
    --neat: #14B89F;
    --teal: #3AECDC;


    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #41d9ca;
    --color-primary-200: #61ded0;
    --color-primary-300: #7be2d6;
    --color-primary-400: #91e7db;
    --color-primary-500: #a5ebe1;
    --color-primary-600: #b8efe7;
    --color-surface-100: #101010;
    --color-surface-200: #262626;
    --color-surface-300: #3d3d3d;
    --color-surface-400: #565656;
    --color-surface-500: #707070;
    --color-surface-600: #8a8a8a;
    --color-surface-mixed-100: #192220;
    --color-surface-mixed-200: #2e3735;
    --color-surface-mixed-300: #454d4b;
    --color-surface-mixed-400: #5d6462;
    --color-surface-mixed-500: #767c7a;
    --color-surface-mixed-600: #8f9493;
    --border-color: #eeeeee;
    --main-font-color: #eeeeee;
    --secondary-font-color: #aaaaaa;
    --dark-font-color: #333;

    --error-color: #ff2916;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.window {
    height: 100vh;
    width: 100vw;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Font Stuff */
.light-font {
    font-weight: 100;
}

.bold-font {
    font-weight: 700;
}

.regular-font {
    font-weight: 500;
}

.title-font {
    font-size: 10em;
}

.subheader {
    padding-top: 1rem;
    font-size: 4em;
    color: #333;
    -webkit-text-stroke: 1px black;
}

/* Colors */
.black-bg {
    background-color: #333;
}

.white-text {
    color: #eee;
}

.light-gray-bg {
    color: #bbb;
}

.light-gray-text {
    color: #bbb;
}

.SOFT-BLUE {
    color: #79aec8;
}

.CREAM {
    color: #fffcef;
}

.invert {
    filter: invert();
}

.hover-size {
    transition: 0.3s;
}

.hover-size:hover {
    transform: scale(1.05);
}

/* globals */

body {
    font-family: 'Arimo', sans-serif;
    background-color: var(--color-surface-100);
    color: #eeeeee;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.primary-background {
    background-color: var(--color-surface-100);
}

/* Navbar */
.custom-nav {
    border-bottom: solid var(--border-color) !important;
}

.nav-top {
    display: flex;
    margin-left: 5em;
    margin-right: 1em;
}

.navbar-brand {
    color: var(--main-font-color);
    padding-left: 1em;
}

.navbar-header-link {
    font-size: 1.25rem;
    color: var(--main-font-color);
    transition: ease-in-out 0.15s;
}

.navbar-header-link:hover {
    color: var(--neat);
}

.navbar-link {
    text-decoration: none;
    color: var(--main-font-color);
    font-weight: 100;
    font-size: 0.75rem;
    transition: ease-in-out 0.15s;
}

.navbar-link:hover {
    color: var(--neat);
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: inherit;
    border-right: solid var(--border-color);
    background-color: var(--color-surface-300);
    padding-left: 0.5em !important;
    padding-top: 1em;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    height: 100%;
}

/* Error messages */
.error-box {
    border: solid var(--error-color);
    opacity: 0.7;
}

.error-text {
    color: var(--error-color);
    display: flex;
    justify-content: center;
}

/* Success messages */
.success-box {
    border: solid var(--neat);
    opacity: 0.7;
}

.success-text {
    color: var(--neat);
    display: flex;
    justify-content: center;
}

.custom-footer {
    background-color: var(--color-surface-100);
    border-top: solid var(--border-color);
    padding: 2vh 0;
    z-index: 4000;
    min-width: 100%;
}

/* Home Page */

.welcome-text-animation {
    background: linear-gradient(-90deg, var(--red) 40%, var(--color-primary-100) 50%, var(--neat) 60% 100%);
    background-size: 600% 600%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
    animation: gradient 2s ease-in-out infinite;
    -webkit-animation: gradient 10s ease-in-out infinite;
    -moz-animation: gradient 5s ease infinite;

    -webkit-text-stroke: 1px black;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.boxes {
    display: flex;
    justify-content: center;
    border-style: solid;
}

.box-title {
    border-style: solid;
    font-size: 1.5em;
}

.box-content {
    border-top: 0 !important;
}

/* login */

.login {
    width: 500px !important;
    border: solid;
}

.login-box {
    padding-top: 30vh;
    max-width: 20vw;
}

.submit-button {
    border: solid;
}

.login-border {
    border-bottom: solid;
}

.centered {
    padding-top: 20vh;
}

.submit-button:hover {
    border: solid var(--sidebar-color);
    background-color: var(--orange);
}

.custom-btn {
    padding: 0.25rem 1em;
    border: solid var(--border-color);
    color: var(--main-font-color) !important;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
}

.btn-red {
    background: transparent;
    z-index: 1;
}

.btn-red:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: var(--orange);
    transition: all 0.3s ease;
}

.btn-red:hover {
    color: #fff;
}

.btn-red:hover:after {
    left: 0;
    width: 100%;
    background: var(--red);
}

.btn-red:active {
    top: 1px;
}

.btn-green {
    background: transparent;
    z-index: 1;
}

.btn-green:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: var(--color-surface-100);
    transition: all 0.2s ease;
}

.btn-green:hover {
    color: #fff;
}

.btn-green:hover:after {
    left: 0;
    width: 100%;
    background: var(--neat);
}

.btn-green:active {
    top: 1px;
}

input[type=text], [type=password] {
    font-size: 18px;
    padding: 1em 0 0 0 !important;
    display: block;
    caret-color: var(--border-color);
    border: none !important;
    border-bottom: solid var(--color-surface-400) !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    color: var(--main-font-color);
}

input[type=text]:focus, [type=password]:focus {
    border-bottom: solid var(--neat) !important;
    outline: none !important;
    box-shadow: none !important;
    color: var(--main-font-color);
}

.input-padding {
    padding-top: 1em;
}

main::before {
    animation: grain 10s steps(10) infinite;
    background-image: url("../images/noise.png");
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.2;
    position: fixed;
    top: -100%;
    width: 300%;
    pointer-events: none;
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0)
    }
    10% {
        transform: translate(-5%, -10%)
    }
    20% {
        transform: translate(-15%, 5%)
    }
    30% {
        transform: translate(7%, -25%)
    }
    40% {
        transform: translate(-5%, 25%)
    }
    50% {
        transform: translate(-15%, 10%)
    }
    60% {
        transform: translate(15%, 0%)
    }
    70% {
        transform: translate(0%, 15%)
    }
    80% {
        transform: translate(3%, 35%)
    }
    90% {
        transform: translate(-10%, 10%)
    }
}

.login-header {
    background-color: var(--color-surface-200);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.welcome-text {
    /*background: #15cbe4;*/
    background: #f09ab3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 500%;
    font-weight: bold;
    -webkit-text-stroke: 2px var(--border-color);
    -webkit-animation: gradient 20s ease-in-out infinite;
    background-image: radial-gradient(at 15.3% 61.9%, hsl(205, 71%, 26%) 0px, transparent 50%),
    radial-gradient(at 41.6% 36.2%, hsl(167, 96%, 62%) 0px, transparent 50%),
    radial-gradient(at 86.0% 88.0%, hsl(344, 94%, 41%) 0px, transparent 50%),
    radial-gradient(at 64.0% 90.0%, hsl(108, 29%, 70%) 0px, transparent 50%),
    radial-gradient(at 3.4% 96.5%, hsl(5, 86%, 34%) 0px, transparent 50%);
}

.sidebar-item {
    color: var(--main-font-color);
    text-decoration: none;
    list-style-type: none;
}

.sidebar-item:hover {
    color: var(--color-primary-300);
    text-decoration: none;
    list-style-type: none;
}

.main-window {
    flex: 0 0 auto;
    width: 85%;
    overflow: auto;
}

.sidebar-window {
    flex: 0 0 auto;
    width: 15%;
    height: max-content;
}

.navbar-window {
    flex: 0 0 auto;
    width: 100%;
}

.footer-window {
    position: sticky;
    z-index: 10000;
}