{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta about="Website for the epic baws nolan" />

        {% load bootstrap5 %}

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% load crispy_forms_field %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'images/cactus.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
              rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
        <title>Cactus
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <main>
            <div class="window">
                <div class="row">
                    <div class="navbar-window">

                        {% include "includes/navbar.html" %}

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="sidebar-window">

                        {% include "includes/sidebar.html" %}

                    </div>
                    <div class="main-window">
                        {% if messages %}

                            {% include "includes/message-box.html" %}

                        {% endif %}
                        {% block header %}
                        {% endblock header %}
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
            <div class="footer-window">

                {% include "includes/footer.html" %}

            </div>
        </main>
    </body>
</html>
