{% load static %}
<nav class="navbar custom-nav primary-background d-flex fixed-top">
    <div class="d-flex justify-content-center">
        <a href="{% url "main_home" %}"
           class="light-font navbar-brand mb-0 h1 navbar-header-link d-flex justify-content-center">CACTUS</a>
    </div>
    <div class="nav-top">
        <div class="d-flex align-items-center">
            {% if user.is_authenticated %}
                <a href="{% url "account_logout" %}" class="mx-2 light-font navbar-link">LOGOUT</a>
                <a href="{% url "account_home" %}" class="light-font navbar-link">ACCOUNT</a>
            {% else %}
                <a href="{% url "account_login" %}" class="mx-2 light-font navbar-link">LOGIN</a>
                <a href="#" class="light-font navbar-link">ABOUT</a>
            {% endif %}
        </div>
        <div class="d-flex align-items-center  justify-content-evenly">
            <a href="#" class="mx-2 light-font navbar-link">SOURCE CODE</a>
        </div>
    </div>
</nav>
