{% load static %}
<div class="sidebar container-fluid " id="sticky-sidebar">
    <div class="row">
        <div class="col-auto">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <ul class="list-unstyled mt-3 mb-3 flex-column align-items-center justify-content-center">
                    <li class="sidebar-item py-3">
                        <a href="#" class="sidebar-item align-middle svg-hover">{% include "svgs/graph.html" %}</a>
                    </li>
                    <li class="py-3">
                        <a href="#" class="sidebar-item align-middle svg-hover">{% include "svgs/heart.html" %}</a>
                    </li>
                    <li class="py-3">
                        <a href="#" class="sidebar-item align-middle svg-hover">{% include "svgs/task.html" %}</a>
                    </li>
                    <li class="py-3">
                        <a href="#" class="sidebar-item align-middle svg-hover">{% include "svgs/daily.html" %}</a>
                    </li>
                    <li class="py-3">
                        <a href="#" class="sidebar-item svg-hover px-0">{% include "svgs/calendar.html" %}</a>
                    </li>
                    <li class="sidebar-item py-3">
                        <a href="#" class="sidebar-item align-middle px-0">
                            <span class="sidebar-item svg-hover d-sm-inline">{% include "svgs/profile.html" %}</span>
                        </a>
                    </li>
                    <li class="sidebar-item py-3">
                        <a href="#" class="sidebar-item align-middle px-0">
                            <span class="sidebar-item svg-hover d-sm-inline">{% include "svgs/settings.html" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
